# Lecture 1: Introduction to Python and Variables

#  Part 1: Introduction to Python

In [1]:
print("Hello, World!")

Hello, World!

#  Part 2: Variables and Data Types

In [3]:
# Variables and assignment
x = 5
y = 3.14
name = "Alice"
is_student = True
# Checking types
print(type(x)) # Output: <class 'int'>
print(type(y)) # Output: <class 'float'>
print(type(name)) # Output: <class 'str'>
print(type(is_student)) # Output: <class 'bool'>
# Type conversion
a = "123"
b = int(a)
print(type(b)) # Output: <class 'int'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'>

#  Part 3: Basic Input and Output

In [1]:
 # Basic output
 print("Hello, World!")
 print("Hello", "World", sep=", ", end="!\n")
 # Basic input
name = input("Enter your name: ")
 print("Hello, " + name)
 # Converting input data
 age = input("Enter your age: ")
 age = int(age)
 print(f"Next year, you will be {age + 1} years old.")

Hello, World!
Hello, World!
Enter your name: Md. Mahfujul Karim
Hello, Md. Mahfujul Karim
Enter your age: 23
Next year, you will be 24 years old.

#  Exercises:
 1. Write a script that takes two numbers as input and prints their sum.
 2. Write a script that asks the user for their favorite color and prints a message including
 their input.

In [2]:
# Script to take two numbers as input and print their sum
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Calculate the sum
result = num1 + num2

# Print the result
print(f"The sum of {num1} and {num2} is {result}.")

Enter the first number: 12
Enter the second number: 34
The sum of 12.0 and 34.0 is 46.0.

In [3]:
# Script to ask the user for their favorite color
favorite_color = input("What is your favorite color? ")

# Print a message including their input
print(f"Wow, {favorite_color} is a great choice! It's such a lovely color.")

What is your favorite color? White
Wow, White is a great choice! It's such a lovely color.

# Part 4: Type Conversion and Operations

In [5]:
 # Implicit type conversion
 result = 5 + 3.14
 print(result) # Output: 8.14

8.14

In [6]:
 # Explicit type conversion
 num_str = "123"
 num_int = int(num_str)
 print(num_int + 1) # Output: 124

124

In [8]:
# Arithmetic operations
a = 10
b = 3
print(a + b) # Output: 13
print(a- b) # Output: 7
print(a * b) # Output: 30

13
7
30

In [10]:
a = 10
b = 3
print(a / b)
print(a % b) # Output: 1
print(a // b) # Output: 3
print(a ** b) # Output: 1000

3.3333333333333335
1
3
1000

In [11]:
 # Comparison operations
 print(a == b) # Output: False
 print(a != b) # Output: True
 print(a > b) # Output: True
 print(a < b) # Output: False
 print(a >= b) # Output: True
 print(a <= b) # Output: False

False
True
True
False
True
False

In [13]:
# Logical operations
x = True
y = False
print(x and y) # Output: False
print(x or y) # Output: True
print(not x) # Output: False

False
True
False

# Exercise:
Write a script that converts a
 temperature from Celsius to Fahrenheit.
 Celsius to Fahrenheit formula is
 °F = °C×(9/5)+32.

In [14]:
# Script to convert Celsius to Fahrenheit
# Input: temperature in Celsius
celsius = float(input("Enter the temperature in Celsius: "))

# Conversion formula
fahrenheit = celsius * (9 / 5) + 32

# Output the result
print(f"{celsius}°C is equal to {fahrenheit}°F.")

Enter the temperature in Celsius: 34
34.0°C is equal to 93.2°F.

# 2.Create a script that asks the user for two numbers and prints the result of various arithmetic operations on them.

In [15]:
# Script to perform arithmetic operations on two numbers
# Input: two numbers from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Perform arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2 if num2 != 0 else "undefined (cannot divide by zero)"
modulus = num1 % num2 if num2 != 0 else "undefined (cannot find modulus with zero)"
exponentiation = num1 ** num2

# Print the results
print("\nArithmetic Operations Results:")
print(f"Addition: {num1} + {num2} = {addition}")
print(f"Subtraction: {num1} - {num2} = {subtraction}")
print(f"Multiplication: {num1} * {num2} = {multiplication}")
print(f"Division: {num1} / {num2} = {division}")
print(f"Modulus: {num1} % {num2} = {modulus}")
print(f"Exponentiation: {num1} ** {num2} = {exponentiation}")

Enter the first number: 12
Enter the second number: 34

Arithmetic Operations Results:
Addition: 12.0 + 34.0 = 46.0
Subtraction: 12.0 - 34.0 = -22.0
Multiplication: 12.0 * 34.0 = 408.0
Division: 12.0 / 34.0 = 0.35294117647058826
Modulus: 12.0 % 34.0 = 12.0
Exponentiation: 12.0 ** 34.0 = 4.922235242952027e+36

# 3. Write a program that compares two user inputted numbers and prints the result of each comparison operation.

In [16]:
# Script to compare two numbers
# Input: two numbers from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Perform comparison operations
is_equal = num1 == num2
is_not_equal = num1 != num2
is_greater = num1 > num2
is_less = num1 < num2
is_greater_or_equal = num1 >= num2
is_less_or_equal = num1 <= num2

# Print the results
print("\nComparison Operations Results:")
print(f"{num1} == {num2}: {is_equal}")
print(f"{num1} != {num2}: {is_not_equal}")
print(f"{num1} > {num2}: {is_greater}")
print(f"{num1} < {num2}: {is_less}")
print(f"{num1} >= {num2}: {is_greater_or_equal}")
print(f"{num1} <= {num2}: {is_less_or_equal}")

Enter the first number: 34
Enter the second number: 35

Comparison Operations Results:
34.0 == 35.0: False
34.0 != 35.0: True
34.0 > 35.0: False
34.0 < 35.0: True
34.0 >= 35.0: False
34.0 <= 35.0: True

# Part 5: Putting It All Together

#  ○ Write a complete program that incorporates variables, input, output, type conversion, and basic operations

In [18]:
 # Greet the user
 name = input("Enter your name: ")
 print(f"Hello, {name}!")
 # Ask for age and calculate next year's age
 age = input("Enter your age: ")
 age = int(age)
 print(f"Next year, you will be {age + 1} years old.")
 # Ask for two numbers and perform arithmetic operations
 num1 = float(input("Enter the first number: "))
 num2 = float(input("Enter the second number: "))
 sum_result = num1 + num2
 diff_result = num1- num2
 prod_result = num1 * num2
 div_result = num1 / num2
 mod_result = num1 % num2
 print(f"The sum of {num1} and {num2} is {sum_result}.")
 print(f"The difference between {num1} and {num2} is {diff_result}.")
 print(f"The product of {num1} and {num2} is {prod_result}.")
 print(f"The division of {num1} by {num2} gives {div_result}.")
 print(f"The remainder when {num1} is divided by {num2} is{mod_result}.")

Enter your name: mahfuj
Hello, mahfuj!
Enter your age: 56
Next year, you will be 57 years old.
Enter the first number: 5791
Enter the second number: 8899
The sum of 5791.0 and 8899.0 is 14690.0.
The difference between 5791.0 and 8899.0 is -3108.0.
The product of 5791.0 and 8899.0 is 51534109.0.
The division of 5791.0 by 8899.0 gives 0.6507472749747163.
The remainder when 5791.0 is divided by 8899.0 is5791.0.