# Tuples+ Set+ Dictionary

# Tuples

#1. Create and Access a Tuple

In [1]:
# Creating a tuple
my_tuple = (1, 2, 3, "Python", 4.5)

# Accessing elements
print(my_tuple[0])  # Output: 1 (Indexing)
print(my_tuple[-1]) # Output: 4.5 (Negative Indexing)
print(my_tuple[1:4]) # Output: (2, 3, 'Python') (Slicing)

1
4.5
(2, 3, 'Python')

# 2. Can We Edit and Add Items to a Tuple?

In [2]:
my_tuple = (1, 2, 3)
# Uncommenting below lines will raise an error
# my_tuple[0] = 10  # Error: Tuples are immutable

# Indirect modification: Creating a new tuple
new_tuple = my_tuple + (4, 5)
print(new_tuple)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

# Deletion

In [3]:
my_tuple = (1, 2, 3)
# del my_tuple[0]  # Error: Cannot delete an item from a tuple

# Deleting the entire tuple
del my_tuple
# print(my_tuple)  # Error: NameError as tuple no longer exists

# 4. Operations on Tuple

In [4]:
# Concatenation
tuple1 = (1, 2, 3)
tuple2 = (4, 5)
print(tuple1 + tuple2)  # Output: (1, 2, 3, 4, 5)

# Repetition
print(tuple1 * 2)  # Output: (1, 2, 3, 1, 2, 3)

# Membership Test
print(2 in tuple1)  # Output: True
print(6 not in tuple1)  # Output: True

(1, 2, 3, 4, 5)
(1, 2, 3, 1, 2, 3)
True
True

# 5. Tuple Functions

In [5]:
my_tuple = (1, 2, 3, 1)

# Count occurrences of a value
print(my_tuple.count(1))  # Output: 2

# Find the index of a value
print(my_tuple.index(3))  # Output: 2

# Length of tuple
print(len(my_tuple))  # Output: 4

2
2
4

# 6. List vs Tuple

In [6]:
# Example of mutability
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3]

my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # Error: Tuples are immutable

[10, 2, 3]

# 7. Tuple Unpacking

In [7]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a, b, c)  # Output: 1 2 3

# Using * for unpacking remaining values
my_tuple = (1, 2, 3, 4, 5)
a, *b, c = my_tuple
print(a, b, c)  # Output: 1 [2, 3, 4] 5

1 2 3
1 [2, 3, 4] 5

# 8. Zip() on Tuple

In [8]:
tuple1 = (1, 2, 3)
tuple2 = ("a", "b", "c")

# Zipping tuples
zipped = zip(tuple1, tuple2)
print(list(zipped))  # Output: [(1, 'a'), (2, 'b'), (3, 'c')]

# Unzipping tuples
zipped = zip(tuple1, tuple2)
unzipped = list(zip(*zipped))
print(unzipped)  # Output: [(1, 2, 3), ('a', 'b', 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]
[(1, 2, 3), ('a', 'b', 'c')]

# Set

# 1. Create and Access a Set

In [9]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

# Accessing elements (direct indexing is not allowed)
for element in my_set:
    print(element)

# Example in Data Science: Removing duplicates
data = [1, 2, 2, 3, 4, 4, 5]
unique_data = set(data)
print(unique_data)  # Output: {1, 2, 3, 4, 5}

1
2
3
4
5
{1, 2, 3, 4, 5}

# 2. Can We Edit and Add Items to a Set?

In [10]:
my_set = {1, 2, 3}

# Adding an element
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

# Adding multiple elements
my_set.update([5, 6])
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

# Example in ML: Adding unique labels to a set
labels = {"cat", "dog"}
labels.add("bird")
print(labels)  # Output: {'cat', 'dog', 'bird'}

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{'bird', 'dog', 'cat'}

# 3. Delection

In [11]:
my_set = {1, 2, 3, 4}

# Remove an element (raises KeyError if not found)
my_set.remove(3)

# Discard an element (does not raise an error if not found)
my_set.discard(5)

# Clear all elements
my_set.clear()
print(my_set)  # Output: set()

# Example: Cleaning up outliers in a dataset
outliers = {100, 200, 300}
outliers.discard(100)
print(outliers)  # Output: {200, 300}

set()
{200, 300}

# 4. Operations on Set

In [12]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

# Union
print(set_a | set_b)  # Output: {1, 2, 3, 4, 5}

# Intersection
print(set_a & set_b)  # Output: {3}

# Difference
print(set_a - set_b)  # Output: {1, 2}

# Symmetric Difference
print(set_a ^ set_b)  # Output: {1, 2, 4, 5}

# Example: Finding common and unique features in ML datasets
features_a = {"age", "height", "weight"}
features_b = {"height", "weight", "blood_pressure"}
common_features = features_a & features_b
unique_features = features_a ^ features_b
print(common_features)  # Output: {'height', 'weight'}
print(unique_features)  # Output: {'age', 'blood_pressure'}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}
{'height', 'weight'}
{'blood_pressure', 'age'}

# 5. Set Functions

In [13]:
my_set = {1, 2, 3, 4}

# Length of set
print(len(my_set))  # Output: 4

# Check membership
print(2 in my_set)  # Output: True

# Convert list to set
my_list = [1, 2, 2, 3]
unique_set = set(my_list)
print(unique_set)  # Output: {1, 2, 3}

# Example: Checking unique values in a column
import pandas as pd
data = pd.DataFrame({"Category": ["A", "B", "A", "C"]})
unique_categories = set(data["Category"])
print(unique_categories)  # Output: {'A', 'C', 'B'}

4
True
{1, 2, 3}
{'C', 'A', 'B'}

6. Frozen Set(Immutable set)

In [14]:
# Creating a frozen set
frozen = frozenset([1, 2, 3, 4])

# Frozen sets cannot be modified
# frozen.add(5)  # Error: AttributeError

# Example in Data Science: Immutable configuration
features = frozenset(["age", "height", "weight"])
print(features)  # Output: frozenset({'age', 'height', 'weight'})

frozenset({'height', 'weight', 'age'})

# 7. Set Comprehension

In [15]:
# Example: Square of numbers
squared = {x**2 for x in range(5)}
print(squared)  # Output: {0, 1, 4, 9, 16}

# Example in ML: Extract unique words from text
text = "machine learning makes machines learn"
unique_words = {word for word in text.split()}
print(unique_words)  # Output: {'learning', 'learn', 'makes', 'machine', 'machines'}

{0, 1, 4, 9, 16}
{'makes', 'learn', 'learning', 'machine', 'machines'}

# Dictionary

# 1. Create a Dictionary

In [16]:
# Creating a dictionary
data = {"name": "Alice", "age": 25, "city": "New York"}

# Example in Data Science: Feature mapping
feature_mapping = {"feature1": "age", "feature2": "salary"}
print(feature_mapping)  # Output: {'feature1': 'age', 'feature2': 'salary'}

{'feature1': 'age', 'feature2': 'salary'}

# 2. Accessing Items

In [17]:
data = {"name": "Alice", "age": 25, "city": "New York"}

# Accessing values by keys
print(data["name"])  # Output: Alice

# Using `get()` to avoid errors if the key does not exist
print(data.get("country", "Key not found"))  # Output: Key not found

# Example: Accessing column mapping
print(feature_mapping.get("feature1"))  # Output: age

Alice
Key not found
age

# 3. Add, Remove , Edit key-value Pairs

In [18]:
data = {"name": "Alice", "age": 25}
data["city"] = "New York"  # Adding a new key-value pair
print(data)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York'}

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [19]:
data.pop("age")  # Removes the key-value pair for 'age'
print(data)  # Output: {'name': 'Alice', 'city': 'New York'}

{'name': 'Alice', 'city': 'New York'}

In [20]:
data["name"] = "Bob"  # Modifying the value
print(data)  # Output: {'name': 'Bob', 'city': 'New York'}

# Example in ML: Update feature names
feature_mapping["feature2"] = "income"
print(feature_mapping)  # Output: {'feature1': 'age', 'feature2': 'income'}

{'name': 'Bob', 'city': 'New York'}
{'feature1': 'age', 'feature2': 'income'}

# 4. Operations on Dictionary

In [21]:
data = {"name": "Alice", "age": 25, "city": "New York"}

# Iterating over keys
for key in data:
    print(key)

# Iterating over values
for value in data.values():
    print(value)

# Iterating over key-value pairs
for key, value in data.items():
    print(f"{key}: {value}")

# Membership Test
print("name" in data)  # Output: True

name
age
city
Alice
25
New York
name: Alice
age: 25
city: New York
True

# 5. Dictionary Functions

In [22]:
data = {"name": "Alice", "age": 25, "city": "New York"}

# Getting all keys
print(data.keys())  # Output: dict_keys(['name', 'age', 'city'])

# Getting all values
print(data.values())  # Output: dict_values(['Alice', 25, 'New York'])

# Getting all key-value pairs
print(data.items())  # Output: dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

# Clearing all items
data.clear()
print(data)  # Output: {}

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'New York'])
dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])
{}

# 6. Dictionary Comprehension

In [23]:
# Example: Squaring numbers
squared = {x: x**2 for x in range(5)}
print(squared)  # Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

# Example in ML: Mapping feature names to indices
columns = ["age", "salary", "gender"]
column_mapping = {name: idx for idx, name in enumerate(columns)}
print(column_mapping)  # Output: {'age': 0, 'salary': 1, 'gender': 2}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{'age': 0, 'salary': 1, 'gender': 2}

# 7. Zip() on Dictionary

In [24]:
keys = ["name", "age", "city"]
values = ["Alice", 25, "New York"]

# Creating a dictionary using zip
data = dict(zip(keys, values))
print(data)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Example in ML: Zipping feature names and values
feature_names = ["age", "salary", "gender"]
feature_values = [25, 50000, "female"]
features = dict(zip(feature_names, feature_values))
print(features)  # Output: {'age': 25, 'salary': 50000, 'gender': 'female'}

{'name': 'Alice', 'age': 25, 'city': 'New York'}
{'age': 25, 'salary': 50000, 'gender': 'female'}

# 8. Nested Comprehensions

In [25]:
# Nested comprehension: Grouping numbers by even/odd
nested = {key: [x for x in range(10) if x % 2 == key] for key in [0, 1]}
print(nested)  # Output: {0: [0, 2, 4, 6, 8], 1: [1, 3, 5, 7, 9]}

# Example in ML: Creating a nested dictionary of features
categories = ["age", "salary", "gender"]
nested_features = {category: {f"feature_{i}": i for i in range(1, 4)} for category in categories}
print(nested_features)
# Output: {'age': {'feature_1': 1, 'feature_2': 2, 'feature_3': 3}, ...}

{0: [0, 2, 4, 6, 8], 1: [1, 3, 5, 7, 9]}
{'age': {'feature_1': 1, 'feature_2': 2, 'feature_3': 3}, 'salary': {'feature_1': 1, 'feature_2': 2, 'feature_3': 3}, 'gender': {'feature_1': 1, 'feature_2': 2, 'feature_3': 3}}