2. **Session 9: Pandas DataFrame**

* Introduction Pandas DataFrame
* Creating DataFrame and read_csv()
* DataFrame attributes and methods
* Dataframe Math Methods
* Selecting cols and rows from dataframe
* Filtering a Dataframe
* Adding new columns
* Dataframe function - astype()

# 1. Introduction to Pandas DataFrame

A DataFrame is a 2-dimensional labeled data structure similar to a table in a relational database or an Excel spreadsheet. It is part of the Pandas library, and its rows and columns are indexed.

**Key Features:**
* Easy handling of missing data.
* Powerful tools for reshaping and pivoting datasets.
* Integrated handling of time-series data.

# 2. Creating a DataFrame and read_csv()

# Creating a DataFrame

In [1]:
import pandas as pd

# From a dictionary
data= {'Name':['Alice', 'Bob', 'Charlie'],
       'Age':[24, 27, 22],
       'City':['New York', 'San Francisco', 'Los Angeles']}
df=pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   24       New York
1      Bob   27  San Francisco
2  Charlie   22    Los Angeles

# Reading CSV File

In [5]:
# Assuming a CSV file named 'data.csv'
df_csv = pd.read_csv('data2.csv')
print(df_csv.head())  # Display the first 5 rows

   Unnamed: 0  Duaration        Date    Pulse  Maxpulse  Calories
0           0         60  '2020/12/01'    110       130     409.1
1           1         60  '2020/12/02'    117       145     479.0
2           2         60  '2020/12/03'    103       135     340.0
3           3         45  '2020/12/04'    109       175     282.4
4           4         45  '2020/12/05'    117       148     406.0

![Screenshot 2024-12-29 231058.png]()

In [6]:
print(df.columns)  # Output: Index(['Name', 'Age', 'City'], dtype='object')
print(df.index)    # Output: RangeIndex(start=0, stop=3, step=1)
print(df.shape)    # Output: (3, 3)
print(df.dtypes)   # Output: dtype of each column

Index(['Name', 'Age', 'City'], dtype='object')
RangeIndex(start=0, stop=3, step=1)
(3, 3)
Name    object
Age      int64
City    object
dtype: object

**Methods:**

* df.info(): Provides an overview of the DataFrame
* df.describe(): Descriptive statistics for numerical columns

In [7]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None
             Age
count   3.000000
mean   24.333333
std     2.516611
min    22.000000
25%    23.000000
50%    24.000000
75%    25.500000
max    27.000000

# 4. DataFrame Math Methods

In [8]:
data={'A':[1,2,3], 'B':[4,5,6]}
df=pd.DataFrame(data)


# Element-wise operations
print(df+2)
print(df.sum())
print(df.mean())

   A  B
0  3  6
1  4  7
2  5  8
A     6
B    15
dtype: int64
A    2.0
B    5.0
dtype: float64

# 5. Selecting Columns and Rows a DataFrame

* Selecting Columns:

In [9]:
# Single column
print(df['A'])

# Multiple columns
print(df[['A', 'B']])

0    1
1    2
2    3
Name: A, dtype: int64
   A  B
0  1  4
1  2  5
2  3  6

* Selecting Rows:

In [10]:
print(df.iloc[0])

A    1
B    4
Name: 0, dtype: int64

In [11]:
df=pd.DataFrame(data, index=['row1', 'row2', 'row3'])
print(df.loc['row1'])

A    1
B    4
Name: row1, dtype: int64

# 6. Filtering a DataFrame

In [12]:
# Example condition: A>1
filtered_df=df[df['A']>1]
print(filtered_df)

      A  B
row2  2  5
row3  3  6

# 7. Adding New Columns

In [13]:
df['C']=df['A']+df['B']
print(df)

      A  B  C
row1  1  4  5
row2  2  5  7
row3  3  6  9

# 8. DataFrame Function

In [14]:
# Convert 'A' to float
df['A']=df['A'].astype(float)
print(df.dtypes)

A    float64
B      int64
C      int64
dtype: object

# Comprehensive Example

In [15]:
import pandas as pd

# Create DataFrame
data = {
    'Product': ['Apples', 'Bananas', 'Cherries'],
    'Price': [3.5, 2.0, 5.0],
    'Stock': [50, 100, 30]
}
df = pd.DataFrame(data)

# DataFrame Attributes
print("Columns:", df.columns)
print("Shape:", df.shape)

# Math Operations
df['Total_Value'] = df['Price'] * df['Stock']

# Filtering
high_value = df[df['Total_Value'] > 150]

# Changing Data Types
df['Price'] = df['Price'].astype('int')

print(df)
print(high_value)

Columns: Index(['Product', 'Price', 'Stock'], dtype='object')
Shape: (3, 3)
    Product  Price  Stock  Total_Value
0    Apples      3     50        175.0
1   Bananas      2    100        200.0
2  Cherries      5     30        150.0
   Product  Price  Stock  Total_Value
0   Apples    3.5     50        175.0
1  Bananas    2.0    100        200.0